@charset "UTF-8";

     /* ==================================================폰트============================================================*/
		   	 body{
		        font-family: 'CookieRunOTF-Bold';
		        background-color: #f1f1f1;
		      }
		      
		     /* ==================================================폰트(모달)============================================================*/
		     
		     .modal-title{
		     	color:#BCA9F5;
		     	font-size:20px;
		  
		     }
		     
		     .modal-body{
		     	color:#81BEF7;
		     	font-size:15px;
		     }
		      
		      /* ==================================================헤더(최상단)============================================================*/
		      #header-title{
		        color: #E2A9F3;
		        font-size: 50px;
		        text-align: center;
		        font-weight:900;
		    
		      }
		      #header-side{
				background:url("https://t1.daumcdn.net/cfile/blog/222ACF47586B5CC526") center/cover no-repeat;
		        background-size: contain;
		      }
		      #header-middle-side{
		        background:url("https://healthtype.netlify.app/images/main_char.gif") center/cover no-repeat;
		        background-size:contain;
		      }
		      #container-head{
		        background:url("https://t1.daumcdn.net/planet/fs10/31_13_13_25_4vhS0_10792249_9_906.gif?original&filename=906.gif") center/cover no-repeat;
		        background-size:contain;
		      }
		
		      /* ==================================================footer 하단 고정============================================================*/
		      body { 
		        min-height: 100vh; display: grid; grid-template-rows: auto 1fr auto;
		      } 
		      
		      footer{
		        padding-bottom: 20px;
		      }
		      

		    /* ==================================================헤더(기능 부분)============================================================*/
		    /*   @font-face {
		     font-family: 'CookieRunOTF-Bold'; 
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
			} */
		      
		   
			   div#banbok {
			  position: relative;
			  animation-name: leftright;
			  animation-duration: 2s;
			  animation-timing-function: linear;
			  animation-iteration-count: infinite;
			  animation-direction: alternate;
			}
			 
			@keyframes leftright {
			  0%   {left:0px; top:0px;}
			  100%  {left:400px; top:0px;}
			}
		
		
		    .home_avatar {
		       width: 70px;
		       height: 70px;
		       border-radius: 50%;
		       border: 5px solid #8258FA;
		    }
   
   		
   
  /* =================================================여기 아래부분은 본인 CSS 작성하기============================================================*/
  /* ============================-=======공통적으로 적용하고 싶은 부분이 있다면 위쪽에 구분지어서 작성 후, 추후에 협의 후 합치기=====================================*/
     		  
     		  

     		  
     		  /* ========================= 지윤 메인 블로그 ==================================== */

   

     		  
* {
  box-sizing: border-box;
}



/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.main_profile{
  /* max-width: 1000px;
  margin: auto; */
  text-align: center; 
  
}

#profile_img{
	position:absolute;
}


.center {
	margin:auto;
	width:auto;
}


p {
	margin-bottom: auto;
}

hr.line_break{
	background-color: black;
	opacity: 100%;
	height: 3px;
	
}



/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

.column1 {
  float: left;
  margin-right: 10px;	
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row1 {
	margin: 20px;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  height:300px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
     		  
.content img{
	object-fit: cover;
	height: 150px;
}   

 
     		  
.content p{
	/* text-overflow: ellipsis;
	max-width: 300px;
	white-space: nowrap;
 	overflow: hidden; */
 	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}	  
     		  
.tag{
	color: cornflowerblue;
}    

.carousel-inner img{
	width: 100%;
	vertical-align: middle;
}
     		  
#move_upload_btn{
	text-align: right;
}	  

#upload_btn {
	text-align: center; 
}

#required {
	color: red;
	font-size: 10px;
	margin: 0;
	padding: 0;
}



     

